<html>
<head>
    <title>Yarha's Blog</title>

</head>
<body>
    <h1>My <ins>First</ins> Blog with <em>DJANGO</em>!!!</h1>
    <ul>
      <li><a href="post_list.html">Inicio</a></li>
      <li>Otra page</li>
      <li><a href="https://djangogirls.org">Ir a DJango Girls</a></li>
    </ul>

    <div>
            <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aqui va toda la informacion que contiene el post escito anteriormente por los diferentes autores acerca de diferentes temas.</p>
    </div>

    <div>
            <p>published: 14.06.2014, 12:15</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>

</body>
</html>
